.all{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;
    text-align: center;
    margin: 0 6rem;
}

.text {
    border-right: 2px solid blueviolet;
    text-align: start;
    align-items: center;
    padding: .4rem 0 .4rem .4rem;
    font-size: 16px;
    font-weight: normal;
    display: flex;
}

.btns{
    margin: .4rem;
}

.btn { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4rem;
    font-size: 12px;
    cursor: pointer;
    width: 5rem;
    height: 1.6rem;
    border: 1px solid blueviolet;
    box-shadow: 0 2px 6px 2px rgb(185, 184, 185) ;
    background-color: rgba(133, 22, 236, 0.404);
}

.img {
    width: .8rem;
    height: .8rem;
    padding-left: .2rem;
}